:root {
	--ff-cambay-r: "cambay-r";
	--ff-cambay-b: "cambay-b";
	--ff-co-head-r: "co-head-r";
	--ff-co-head-b: "co-head-b";
}

@font-face {
    font-family: "cambay-r";
    src: url(../fonts/Cambay-Regular.ttf);
}
@font-face {
    font-family: "cambay-b";
    src: url(../fonts/Cambay-Bold.ttf);
}
@font-face {
	font-family: "co-head-r";
	src: url(../fonts/co-heading_regular.otf);
}
@font-face {
    font-family: "co-head-b";
    src: url(../fonts/co-heading_bold.otf);
}

body {
	font-family: var(--ff-cambay-r);
}

.section-title {
	font-family: var(--ff-co-head-r);
}

.section-sub-title {
	font-family: var(--ff-co-head-b);
	font-weight: var(--font-w2);
}

.section-hent {
	font-family: var(--ff-cambay-b);
}

.section-desc {
	font-family: var(--ff-cambay-r);
}

.main-header .navbar-nav {
	font-family: var(--ff-cambay-b);
}

.header-main-title {
	font-family: var(--ff-co-head-b);
	line-height: 60px;
}

.lang {
	font-family: var(--sub-ff-sb);
}

.header-para {
	font-family: var(--ff-cambay-r);
}

.short-btn, .large-btn {
	font-family: var(--ff-cambay-r);
}

.main-header .header-img1 {
	left: auto;
	right: -190px;
}

.main-header .header-img2 {
	left: auto;
	right: -80px;
}

.main-header .header-content .header-img img {
	margin: 0 0 0 auto;
}
.main-header .navbar .menu-btn img {
	width: 32px;
	height: 32px;
	transform: scale(1);
}
.main-header .navbar .navbar-nav {
	width: 300px;
}
.lang img {
	margin-right: 0;
	margin-left: 10px;
}
.customer .customer-comment {
	margin-right: 0;
    margin-left: 80px;
}
.customer .cus-info {
	font-family: var(--ff-cambay-b);
}

.customer .double-qoutes {
	font-family: var(--main-ff);
}

.customer .cus-name {
	font-size: var(--font-mx);
	line-height: var(--line-l);
	font-weight: var(--font-w2);
}

.customer .cus-job {
	font-size: 16.5px;
	line-height: var(--line-m2);
	font-weight: var(--font-w2);
	margin-bottom: 32px;
}

.dev-business .dev-box .dev-desc {
	font-family: var(--ff-cambay-r);
}

.dev-business .dev-box .know-more-dev {
	font-family: var(--ff-cambay-r);
	font-weight: var(--font-w2);
	margin-left: 0;
	margin-right: 12px;
}

.dev-business .dev-box .dev-title {
	font-family: var(--ff-cambay-b);
}

.dev-business .dev-box .btn-content img {
	transform: scale(-1, 1);
}

.themes #carousel-themes .owl-dots {
	margin: -60px 0 0 -610px;
}

.themes .blur-circle {
	left: auto;
	right: -80px;
}

.themes .themes-img img {
	left: auto !important;
	top: 40px;
}

.themes .large-btn {
	height: 66px;
}

.themes .section-desc {
	height: 90px;
}

.merchant-card .analy-amount {
	font-family: var(--main-ff-b);
	font-weight: var(--font-w2);
	
}

.merchant-card .milion {
	font-family: var(--main-ff);
}

.bootcast .section-desc {
	max-width: 400px;
}

.bootcast .person-name {
	font-family: var(--ff-cambay-b);
}

.bootcast .person-job {
	font-family: var(--ff-cambay-r);
}

.success .success-card {
	height: 348px;
}

.success .even {
	display: flex;
	justify-content: flex-start;
}

.success .success-card .img-content {
	left: auto;
	right: 0;
	transform: scale(-1, 1);
}

.success .success-title {
	font-family: var(--ff-co-head-r);
	font-weight: var(--font-w1);
	margin-bottom: 20px;
}

.success .success-desc {
	font-family: var(--ff-cambay-r);
	margin-bottom: 0;
}

.start-business .start-b-title {
	font-family: var(--ff-co-head-b);
	font-weight: var(--font-w1);
}

footer .footer-list-title,
footer .zid-product-title {
	font-family: var(--ff-co-head-b);
}

@media (min-width: 1399px) {
	.customer .container {
		max-width: 1230px;
	}
}

@media (max-width: 1399px) {
	.themes #carousel-themes {
		width: 700px;
	}
	.themes #carousel-themes .owl-dots {
		margin: -3px 0 0 -593px;
	}
}

@media (max-width: 1299px) {
	footer .logo {
		right: auto;
		left: 30px;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.main-header .header-content .header-img img {
		width: 100%;
	}
}

@media (max-width: 1199px) {
	.themes #carousel-themes .owl-dots {
		margin: 94px 0 0 -503px;
	}
}

@media (max-width: 991px) {
	.main-header .header-content .header-img img {
		margin: 90px auto 0;
	}
	.success .even {
		display: flex;
		justify-content: flex-end;
	}
	.themes .section-desc {
		height: auto;
		margin-bottom: 10px;
	}
	.themes .themes-img img {
		left: 5% !important;
	}
	#carousel-themes .owl-dots {
		margin: 0 !important;
		position: absolute;
		top: -80px;
		right: auto;
		left: -25px;
	}
}

@media (max-width: 767px) {
	.customer .customer-comment {
		margin-right: 0;
		margin-left: 0;
	}
	.themes #carousel-themes {
		width: 100%;
	}
	.themes .themes-img img {
		left: auto !important;
	}
}

@media (max-width: 567px) {
	.success .success-card {
		height: 430px;
	}
	.success .success-card .img-content.img-4 {
		max-width: 220px;
	}
	.success .success-card .img-content.img-3 {
		max-width: 280px;
	}
	.themes .themes-img img {
		top: 0;
		right: -3%;
	}
}

@media (max-width: 450px) {
	.dev-business .dev-box .dev-img {
		bottom: -45px;
		left: -8px;
	}
	.dev-business .dev-box.bg-color-slow .dev-img {
		left: -50px;
		bottom: -70px;
	}
	.dev-business .dev-box.bg-color-market .dev-img {
		left: -60px;
		bottom: -50px;
	}
	.dev-business .dev-box.bg-color-zidpay .dev-img {
		left: -45px;
		bottom: -77px;
	}
	.success .success-card {
		width: 100% !important;
	}
	.themes .themes-img img {
		right: 0;
	}
}